<!-- Index fragment -->
<div class="mx-auto flex w-full max-w-screen-xl flex-col pt-8">
  <section id="about" class="mb-20 max-w-[50ch] text-medium">
    <p>
      I'm <b>Itamar</b>, a multi-disciplinary <b>Graphic/Motion Designer</b> <br />
      with a strong passion for storytelling.
    </p>
    <br />
    <p>
      In my work I explore intersections between <b>2D</b> and <b>3D</b>, <b>digital</b> and <b>physical</b>, <b>screen</b> and
      <b>print</b>.
    </p>
    <p>
      I'm particularly drawn to the moments where boundaries blur -
      <b>where the unexpected combinations create something new</b>.
    </p>
  </section>

  <section
    id="CV"
    class="grid grid-cols-[100px_1fr] gap-x-8 gap-y-4 text-very-small [&_p]:before:mr-2 [&_p]:before:content-['•']"
  >
    <h3 class="font-extrabold lowercase underline">Experience</h3>
    <div>
      <p><time datetime="2021/">2021–today</time> // <b>independent visual artist</b></p>
    </div>

    <h3 class="font-extrabold lowercase underline">Education</h3>
    <div>
      <p
        ><time datetime="2021/2025">2021–2025</time> // graduated from
        <b>Visual Communication Department at Bezalel Academy of Arts & Design</b>, Jerusalem</p
      >
      <p
        ><time datetime="2023/2024">2023–2024</time> // exchange student program at <b>abk Visual Communication dep.</b> Stutgart,
        Germany</p
      >
    </div>

    <h3 class="font-extrabold lowercase underline">Skills</h3>
    <div>
      <p>graphic design</p>
      <p>motion</p>
      <p>animation</p>
      <p>illustration</p>
    </div>

    <h3 class="font-extrabold lowercase underline">Software</h3>
    <div>
      <p>Adobe After Effects</p>
      <p>Adobe Illustrator</p>
      <p>Adobe Photoshop</p>
      <p>Adobe InDesign</p>
      <p>Adobe Premier Pro</p>
      <p>Maxon Cinema 4D</p>
      <p>DaVinci Resolve</p>
    </div>
  </section>
</div>
<!-- Fragment end -->
