<!doctype html>
<html lang="en">
  <head>
    <!-- Basic settings -->
    <title>Toosh</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Toosh website" />
    <meta name="keywords" content="Toosh" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!-- Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />

    <!-- Prefetch fragments -->
    <link rel="prefetch" href="{{ url_for('designs_fragment') }}" />
    <link rel="prefetch" href="{{ url_for('index_fragment') }}" />
    <link rel="prefetch" href="{{ url_for('projects_fragment') }}" />

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/image-queue.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/activate-current-nav-link.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/animations.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/designs-modal.js') }}"></script>

    <!-- External fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap" rel="stylesheet" />
  </head>
  <body
    class="no-scrollbar flex min-h-screen flex-col gap-2 overflow-x-clip px-8 py-6 font-narkiss dark:bg-black dark:text-white lg:gap-4 lg:px-16"
  >
    <header class="sticky top-6">
      <nav id="navi" class="grid w-full auto-cols-[8rem] grid-flow-col justify-center text-center text-small lowercase lg:gap-32">
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('index') }}"
          hx-target="#main"
          hx-get="{{ url_for('index_fragment') }}"
          hx-push-url="{{ url_for('index') }}"
          href="{{ url_for('index') }}"
          hx-swap="innerHTML"
          >About</a
        >
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('designs') }}"
          hx-target="#main"
          hx-get="{{ url_for('designs_fragment') }}"
          hx-push-url="{{ url_for('designs') }}"
          href="{{ url_for('designs') }}"
          hx-swap="innerHTML"
          >Gallery</a
        >
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('projects') }}"
          hx-target="#main"
          hx-get="{{ url_for('projects_fragment') }}"
          hx-push-url="{{ url_for('projects') }}"
          href="{{ url_for('projects') }}"
          hx-swap="innerHTML"
          >Projects</a
        >
      </nav>
    </header>
    <main id="main" class="flex flex-grow basis-auto">{% filter indent(width=6) %}{% include page %}{% endfilter %}</main>
    <footer class="grid w-full auto-cols-[8rem] grid-flow-col justify-center text-center text-small lowercase lg:gap-20">
      <a class="hover:font-bold" href="mailto:toosh.dsgn@gmail.com">Email</a>
      <a class="hover:font-bold" href="https://www.instagram.com/itamar669/">Instagram</a>
    </footer>
  </body>
</html>
