<!doctype html>
<html lang="en" class="">
  <head>
    <!-- Basic settings -->
    <title>Toosh</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Toosh website" />
    <meta name="keywords" content="Toosh" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <!-- Styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />

    <!-- Prefetch fragments -->
    <link rel="prefetch" fetchpriority="high" href="{{ url_for('about_fragment') }}" />
    <link rel="prefetch" fetchpriority="high" href="{{ url_for('gallery_fragment') }}" />
    <link rel="prefetch" fetchpriority="high" href="{{ url_for('projects_fragment') }}" />
    <!-- Prefetch gallery modal views -->
    {% for set in image_sets %}
      <link rel="prefetch" fetchpriority="low" href="{{ url_for('modal_view', set_name=set.id) }}" />
    {% endfor %}

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/gallery.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/activate-current-nav-link.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/animations.js') }}"></script>

    <!-- External fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="no-scrollbar flex min-h-screen flex-col gap-2 overflow-x-clip px-8 py-6 font-narkiss text-blue-950 dark:bg-dark-ancient-gray dark:text-orange-100 lg:gap-4 lg:px-16"
  >
    <header class="sticky top-6">
      <nav
        id="navi"
        class="grid w-full auto-cols-[8rem] grid-flow-col justify-center text-center font-google-sans-code text-smaller lowercase text-green-700 dark:text-red-400 lg:gap-32"
      >
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('about') }}"
          hx-target="#main"
          hx-get="{{ url_for('about_fragment') }}"
          hx-push-url="{{ url_for('about') }}"
          href="{{ url_for('about') }}"
          hx-swap="innerHTML"
          >About</a
        >
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('gallery') }}"
          hx-target="#main"
          hx-get="{{ url_for('gallery_fragment') }}"
          hx-push-url="{{ url_for('gallery') }}"
          href="{{ url_for('gallery') }}"
          hx-swap="innerHTML"
          >Gallery</a
        >
        <a
          class="cursor-pointer hover:underline currently-viewed:font-extrabold"
          data-path="{{ url_for('projects') }}"
          hx-target="#main"
          hx-get="{{ url_for('projects_fragment') }}"
          hx-push-url="{{ url_for('projects') }}"
          href="{{ url_for('projects') }}"
          hx-swap="innerHTML"
          >Projects</a
        >
      </nav>
    </header>
    <main id="main" class="flex flex-grow basis-auto">{% filter indent(width=6) %}{% include page %}{% endfilter %}</main>
    <footer class="flex flex-col gap-1 font-google-sans-code text-green-700 dark:text-red-400">
      <nav class="grid w-full auto-cols-[8rem] grid-flow-col justify-center text-center text-smaller lowercase lg:gap-32">
        <a class="hover:font-bold" href="mailto:toosh.dsgn@gmail.com">Email</a>
        <p class="font-bold uppercase">toosh.dsgn</p>
        <a class="hover:font-bold" href="https://www.instagram.com/itamar669/">Instagram</a>
      </nav>
      <p class="text-center text-very-very-small"
        >Copyright © 2025, designed by <span class="font-bold">Toosh</span>, developed by
        <a class="font-bold" href="https://github.com/Cutipus">Cutipus</a></p
      >
    </footer>
  </body>
</html>
