<!-- Designs fragment -->
<div id="designs-grid" class="no-scrollbar mx-auto grid max-w-screen-xl grid-cols-1 gap-4 px-10 pb-4 pt-8 lg:grid-cols-4 lg:px-4">
  {% for col in columns %}
    <div class="flex flex-col space-y-4">
      {% for project_name, size in col %}
        <div
          class="bg-svg"
          data-project-name="{{ project_name }}"
          data-size-width="{{ size[0] }}"
          data-size-height="{{ size[1] }}"
          style="aspect-ratio: {{ size[0] }} / {{ size[1] }};"
        >
          <img
            src="{{ url_for('static', filename='projects/' + project_name + '/preview.webp') }}"
            width="{{ size[0] }}"
            height="{{ size[1] }}"
            alt="{{ project_name }}"
            class="size-full cursor-pointer opacity-0 transition-opacity duration-300"
            onload="this.classList.remove('opacity-0');"
          />
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div
  id="modal"
  class="pointer-events-none fixed inset-0 hidden animate-fade-in items-center justify-center opacity-0 transition-opacity duration-500 currently-viewed:pointer-events-auto currently-viewed:opacity-100"
>
  <!-- Underlay: covers full screen, dark background, catches clicks -->
  <div
    id="modal-underlay"
    class="absolute inset-0 cursor-pointer bg-black bg-opacity-50"
    onclick="document.getElementById('modal').classList.toggle('currently-viewed')"
  ></div>

  <!-- Modal content: above underlay -->
  <div
    id="modal-content"
    class="no-scrollbar relative z-20 h-[90vh] w-[90vw] justify-center overflow-scroll rounded-lg bg-white p-6 shadow-lg"
  >
    <img
      id="modal-image"
      class="zoomed:h-max zoomed:cursor-zoom-out mx-auto h-full w-auto max-w-none origin-center cursor-zoom-in"
      onclick="this.classList.toggle('zoomed');"
    />
  </div>
</div>

<!-- Fragment end -->
