<!-- Index fragment -->
<div class="mx-auto flex w-full max-w-screen-xl flex-col pt-8">
  <section id="about">
    <h1 id="dsgn" class="font-narkiss text-very-small font-bold underline">toosh.dsgn</h1>
    <p id="p1" class="text-black-600 mt-2 font-narkiss text-very-small">
      I'm <b>Itamar</b>, a freelance <b>Graphic/Motion Designer</b> from TLV.
    </p>
    <p id="p2" class="text-black-600 mt-4 font-narkiss text-very-small">
      Mainly focusing on <b>Motion Design, Video making & Animation</b>, but enjoy making and co-making all sorts of art and
      design.
    </p>
  </section>
</div>

<!-- Fragment end -->
