<!-- Index fragment -->
<div class="mx-auto flex w-full max-w-screen-xl flex-col gap-20 pt-8">
  <section id="about" class="text-medium">
    <h1 id="dsgn" class="text-very-small font-bold underline">toosh.dsgn</h1>
    <p>
      I'm <b>Itamar</b>, a mullti-disciplinary <b>Graphic/Motion designer</b> <br />
      with a strong passion for storytelling.
    </p>

    <br />

    <p>
      In my work I explore intersections between <b>2D</b> and <b>3D</b>, <b>digital</b> and <b>physical</b>, <b>screen</b> and
      <b>print</b>.
    </p>
    <p>
      I'm particularly drawn to the moments where boundaries blur - <b>where the unexpected combinations create something new</b>.
    </p>
  </section>

  <section id="CVE" class="max-w-prose text-very-small">
    <h2 class="text-small font-extrabold uppercase">Experience</h2>
    <p><time datetime="2021/">2021–today</time> // <b>independent visual artist</b></p>

    <br />

    <h2 class="text-small font-extrabold uppercase">Education</h2>
    <ul class="flex flex-col gap-2">
      <li>
        <time datetime="2021/2025">2021–2025</time> // graduated from
        <b>Visual Communication Department at Bezalel Academy of Arts & Design</b>, Jerusalem
      </li>
      <li>
        <time datetime="2023/2024">2023–2024</time> // exchange student program at <b>abk Visual Communication dep.</b> Stutgart,
        Germany
      </li>
    </ul>

    <br />

    <h2 class="text-small font-extrabold uppercase">Skills</h2>
    <ul class="flex gap-2 font-bold">
      <li>graphic design</li>
      <li class="before:mr-2 before:content-['•']">motion</li>
      <li class="before:mr-2 before:content-['•']">animation</li>
      <li class="before:mr-2 before:content-['•']">illustration</li>
    </ul>
  </section>
</div>
<!-- Fragment end -->
