<!-- Index fragment -->
<div class="mx-auto flex w-full max-w-screen-xl flex-col gap-20 pt-8">
  <section id="about" class="max-w-[50ch] text-medium">
    <p>
      I'm <b>Itamar</b>, a mullti-disciplinary <b>Graphic/Motion designer</b> <br />
      with a strong passion for storytelling.
    </p>

    <br />

    <p>
      In my work I explore intersections between <b>2D</b> and <b>3D</b>, <b>digital</b> and <b>physical</b>, <b>screen</b> and
      <b>print</b>.
    </p>
    <p>
      I'm particularly drawn to the moments where boundaries blur - <b>where the unexpected combinations create something new</b>.
    </p>
  </section>

  <section
    id="CVE"
    class="grid auto-rows-fr grid-cols-[auto_1fr] gap-x-8 text-very-small [&>p]:before:mr-2 [&>p]:before:content-['•']"
  >
    <h2 class="font-extrabold lowercase underline">Experience</h2>
    <p><time datetime="2021/">2021–today</time> // <b>independent visual artist</b></p>

    <div></div>
    <div></div>
    <h2 class="font-extrabold lowercase underline">Education</h2>
    <p
      ><time datetime="2021/2025">2021–2025</time> // graduated from
      <b>Visual Communication Department at Bezalel Academy of Arts & Design</b>, Jerusalem</p
    >
    <br />
    <p
      ><time datetime="2023/2024">2023–2024</time> // exchange student program at <b>abk Visual Communication dep.</b> Stutgart,
      Germany</p
    >

    <div></div>
    <div></div>
    <h2 class="font-extrabold lowercase underline">Skills</h2>
    <p>graphic design</p>
    <br />
    <p>motion</p>
    <br />
    <p>animation</p>
    <br />
    <p>illustration</p>
  </section>
</div>
<!-- Fragment end -->
