<!-- Generic modal view for gallery -->
{% for image_name in image_set.images %}
  <img
    fetchpriority="high"
    src="{{ url_for('static', filename='images/fullsize/' ~ image_name ~'.webp') }}"
    id="modal-image-{{ image_name }}"
    class="mx-auto h-full w-auto max-w-none cursor-zoom-in select-none opacity-100 loading:pointer-events-none loading:cursor-wait loading:opacity-0 zoomed:h-max zoomed:cursor-zoom-out"
  />
{% endfor %}
