<!-- Projects fragment -->
<div class="mx-auto flex w-full max-w-screen-lg flex-col">
  <article class="flex h-[80dvh] w-full flex-col gap-4">
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </section>
    <section class="overflow-clip">
      <div class="flex flex-row items-start justify-start gap-2">
        <h1 class="font-narkiss text-very-small font-bold">Can a Machine Think</h1>
        <h2 class="font-narkiss text-very-small">animated explainer // 2024</h2>
      </div>
      <p class="max-w-[100ch] font-narkiss text-very-small">
        Explainer in Mixed Media: “Can a Machine Think?” A question that seems simple at first — yet it leads to a series of
        philosophical, linguistic, and technological reflections. Rather than trying to answer it, we chose to dwell on the
        questions it opens up: What is “thinking,” really? Who decides what counts as thought — and why? In this explainer, we
        aimed to raise more questions than provide answers. A joint work with Omer Zimmerman Guided by Yehonatan Kaynan and Daniel
        Nahum.
      </p>
    </section>
  </article>

  <article class="flex h-[80dvh] w-full flex-col gap-0">
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1042619862?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Justice // عدل"
      ></iframe>
    </section>
    <section class="overflow-clip">
      <h1 class="font-narkiss text-medium font-bold uppercase underline">Justice</h1>
      <h2 class="font-narkiss text-very-small">Broadcast ident // 2024</h2>
      <p class="mt-4 font-narkiss text-very-small">
        Graphic packaging & Brand identity made for "Justice - supreme court channel"
      </p>
    </section>
  </article>

  <article class="flex h-[80dvh] w-full flex-col gap-0">
    <section class="overflow-clip">
      <h1 class="font-narkiss text-medium font-bold uppercase underline">Frequency</h1>
      <h2 class="font-narkiss text-very-small">Animated title sequence // 2025</h2>
      <p class="mt-4 font-narkiss text-very-small">
        A short animated Title sequence for a made-up Israeli tv series, based on a book by Amos Oz (The Same Sea)
      </p>
    </section>
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1066509944?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Frequency"
      ></iframe>
    </section>
  </article>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<!-- Fragment end -->
