<!-- Projects fragment -->
<div class="mx-auto flex h-full w-full max-w-screen-xl flex-col">
  <article class="flex h-[85vh] w-full flex-col gap-4">
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </section>
    <section class="overflow-clip">
      <header class="flex flex-row items-start justify-start gap-2">
        <h1 class="font-narkiss text-very-small font-bold">Can a Machine Think</h1>
        <h2 class="font-narkiss text-very-small before:mr-2 before:content-['//']">Animated explainer</h2>
        <time datetime="2024" class="font-narkiss text-very-small before:mr-2 before:content-['//']">2024</time>
        <ul class="flex flex-row items-center justify-start gap-1 font-narkiss text-very-small before:mr-2 before:content-['//']">
          <li>Explainer</li>
          <li class="before:mr-1 before:content-['•']">Mixed Media</li>
          <li class="before:mr-1 before:content-['•']">Animation</li>
        </ul>
      </header>
      <p class="max-w-[120ch] font-narkiss text-very-small">
        “Can a Machine Think?” A question that seems simple at first — yet it leads to a series of philosophical, linguistic, and
        technological reflections. We dwell on the questions it opens up: What is “thinking,” really? Who decides what counts as
        thought — and why? We aimed to raise more questions than provide answers. A joint work with
        <b>Omer Zimmerman</b> guided by <b>Yehonatan Kaynan</b> and <b>Daniel Nahum</b>.
      </p>
    </section>
  </article>

  <article class="flex h-[85vh] w-full flex-col gap-4">
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1042619862?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Justice // عدل"
      ></iframe>
    </section>
    <section class="overflow-clip">
      <header class="flex flex-row items-start justify-start gap-2">
        <h1 class="font-narkiss text-very-small font-bold">Justice</h1>
        <h2 class="font-narkiss text-very-small before:mr-2 before:content-['//']">Broadcast ident</h2>
        <time datetime="2024" class="font-narkiss text-very-small before:mr-2 before:content-['//']">2024</time>
        <ul class="flex flex-row items-center justify-start gap-1 font-narkiss text-very-small before:mr-2 before:content-['//']">
          <li>Explainer</li>
          <li class="before:mr-1 before:content-['•']">Ident</li>
          <li class="before:mr-1 before:content-['•']">Animation</li>
          <li class="before:mr-1 before:content-['•']">Brand</li>
        </ul>
      </header>
      <p class="max-w-[120ch] font-narkiss text-very-small">
        Graphic packaging & Brand identity made for "Justice - supreme court channel"
      </p>
    </section>
  </article>

  <article class="flex h-[85vh] w-full flex-col gap-4">
    <section class="">
      <iframe
        src="https://player.vimeo.com/video/1066509944?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Frequency"
      ></iframe>
    </section>
    <section class="overflow-clip">
      <header class="flex flex-row items-start justify-start gap-2">
        <h1 class="font-narkiss text-very-small font-bold">Frequency</h1>
        <h2 class="font-narkiss text-very-small before:mr-2 before:content-['//']">Animated title sequence</h2>
        <time datetime="2024" class="font-narkiss text-very-small before:mr-2 before:content-['//']">2025</time>
        <ul class="flex flex-row items-center justify-start gap-1 font-narkiss text-very-small before:mr-2 before:content-['//']">
          <li>Explainer</li>
          <li class="before:mr-1 before:content-['•']">Title sequence</li>
          <li class="before:mr-1 before:content-['•']">Animation</li>
          <li class="before:mr-1 before:content-['•']">TV</li>
        </ul>
      </header>
      <p class="max-w-[120ch] font-narkiss text-very-small">
        A short animated Title sequence for a made-up Israeli tv series, based on a book by <b>Amos Oz</b> (The Same Sea)
      </p>
    </section>
  </article>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<!-- Fragment end -->
