<div class="size-full pb-4 pr-4 pt-8">
  <div class="flex size-full items-center justify-center">
    <div class="bg-svg relative z-50 h-full animate-zoom-in" style="aspect-ratio: {{ size[0] }} / {{ size[1] }};">
      <img
        src="{{ url_for('static', filename='projects/' + project_name + '/fullsize.webp') }}"
        width="{{ size[0] }}"
        height="{{ size[1] }}"
        alt="{{ project_name }}"
        class="size-full opacity-0 transition-opacity duration-300"
        onload="this.classList.remove('opacity-0');"
      />
    </div>
  </div>
</div>

<div
  hx-trigger="click"
  hx-get="{{ url_for('index_fragment') }}"
  hx-push-url="{{ url_for('index_fullpage') }}"
  hx-target="#content"
  hx-swap="innerHTML"
  class="fixed left-0 top-0 z-30 h-full w-full cursor-pointer"
></div>
