<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
    <link rel="prefetch" href="{{ url_for('static', filename='filters.svg') }}" />
    <title>Span Wrap Example</title>
  </head>
  <body>
    <p class="displace-big font-narkiss text-gigantic">Hello</p>
    <p class="displace-small font-narkiss text-big">Hello, World! ahahsjahdkajshdikwhoaeqoeijamnsd</p>
    <!-- <img class="displace" src="{{ url_for('static', filename='projects/hibbuk1/preview.webp') }}" alt="" /> -->
  </body>
</html>
