<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
    <title>Span Wrap Example</title>
  </head>
  <body>
    <p class="underline-effect text-big">Hello, World!</p>
  </body>
  <script></script>
</html>
