<!doctype html>
<html class="size-full">
  <head>
    <title>revamp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Toosh website" />
    <meta name="keywords" content="Toosh" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
    <script defer>
      // nav colors
      document.addEventListener("DOMContentLoaded", updateActiveLink);
      document.addEventListener("htmx:pushedIntoHistory", updateActiveLink);
      document.addEventListener("htmx:load", updateActiveLink);

      function updateActiveLink() {
        const currentPath = window.location.pathname;

        // Remove the active class from all nav links
        document
          .getElementById("navi")
          .querySelectorAll("a")
          .forEach((link) => {
            link.classList.remove("invert");
          });

        // Add the active class to the link that matches the current path
        const activeLinkIsCurrentLink = document.querySelector(`a[data-path="${currentPath}"]`);
        if (activeLinkIsCurrentLink) {
          activeLinkIsCurrentLink.classList.add("invert");
        }
      }
    </script>
    <script src="{{ url_for('static', filename='javascript/animations.js') }}"></script>

    <!--external fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap" rel="stylesheet" />
  </head>
  <body class="flex size-full flex-col gap-20 px-16 py-6">
    <header>
      <nav id="navi" class="flex w-full flex-row justify-center gap-4">
        <a
          class="cursor-pointer rounded-lg border-[1px] border-black bg-white p-1 px-4 font-narkiss text-small text-gray-950 blur-[0.04rem] contrast-200 dark:bg-black dark:text-white"
          data-path="{{ url_for('revamp_index') }}"
          hx-target="#main"
          hx-get="{{ url_for('revamp_index_fragment') }}"
          hx-push-url="{{ url_for('revamp_index') }}"
          hx-swap="innerHTML"
          >about</a
        >
        <a
          class="cursor-pointer rounded-lg border-[1px] border-black bg-white p-1 px-4 font-narkiss text-small text-gray-950 blur-[0.04rem] contrast-200 dark:bg-black dark:text-white"
          data-path="{{ url_for('revamp_designs') }}"
          hx-target="#main"
          hx-get="{{ url_for('revamp_designs_fragment') }}"
          hx-push-url="{{ url_for('revamp_designs') }}"
          hx-swap="innerHTML"
          >design work</a
        >
        <a
          class="cursor-pointer rounded-lg border-[1px] border-black bg-white p-1 px-4 font-narkiss text-small text-gray-950 blur-[0.04rem] contrast-200 dark:bg-black dark:text-white"
          data-path="{{ url_for('revamp_projects') }}"
          hx-target="#main"
          hx-get="{{ url_for('revamp_projects_fragment') }}"
          hx-push-url="{{ url_for('revamp_projects') }}"
          hx-swap="innerHTML"
          >projects</a
        >
      </nav>
    </header>
    <main id="main" class="flex-shrink-0 flex-grow basis-auto">{% include page %}</main>
    <footer>
      <p class="font-narkiss text-small"><b>contact me:</b> tooshdsgn@gmail.com | @Instagram</p>
    </footer>
  </body>
</html>
