<div class="flex h-full w-9/12 flex-col gap-20">
  <div class="h-1/5"></div>
  <section id="about-text" class="mt-3 flex flex-col pr-4">
    <h1 id="dsgn" class="font-narkiss text-medium underline">toosh.dsgn</h1>
    <p id="p1" class="text-black-600 mt-2 font-narkiss text-big uppercase blur-[0.04rem] contrast-200">
      I'm <b>Itamar</b>, a freelance <b>Graphic/Motion Designer</b> from TLV.
    </p>
    <p id="p2" class="text-black-600 mt-20 font-narkiss text-big uppercase blur-[0.04rem] contrast-200">
      Mainly focusing on <b>Motion Design, Video making & Animation</b>, but enjoy making and co-making all sorts of art and
      design.
    </p>
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const logotext = document.getElementById("dsgn");
    logotext.classList.remove("underline");
    const paragraph = document.getElementById("p1");
    const paragraph2 = document.getElementById("p2");
    wrapCharactersWithSpans(logotext);
    wrapCharactersWithSpans(paragraph);
    wrapCharactersWithSpans(paragraph2);
    await underliner(logotext, 16);
    await typewriter(logotext, 30, 0, false);
    logotext.lastChild.classList.remove("blinking-cursor");
    await typewriter(paragraph, 8, 80);
    await bolden(paragraph, 8, 20);
    paragraph.lastChild.classList.remove("blinking-cursor");
    await typewriter(paragraph2, 8, 80);
    await bolden(paragraph2, 8, 20);
  });
</script>
