<article class="grid h-[80dvh] w-full snap-center snap-always grid-cols-5 gap-10">
  <section class="col-span-1">
    <h1 class="font-narkiss text-big font-bold uppercase underline">Can a Machine Think?</h1>
    <h2 class="font-narkiss text-small">animated explainer // 2024</h2>
    <p class="mt-4 font-narkiss text-small">Can a Machine Think? A bit of a weird question because what does it mean to think?</p>
  </section>
  <section class="col-span-4">
    <iframe
      src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      class="aspect-video w-full"
      title="Can A machine think? // animated explainer"
    ></iframe>
  </section>
</article>

<article class="grid h-[80dvh] w-full snap-center snap-always grid-cols-5 gap-10">
  <section class="col-span-1">
    <h1 class="font-narkiss text-big font-bold uppercase underline">Can a Machine Think?</h1>
    <h2 class="font-narkiss text-small">animated explainer // 2024</h2>
    <p class="mt-4 font-narkiss text-small">Can a Machine Think? A bit of a weird question because what does it mean to think?</p>
  </section>
  <section class="col-span-4">
    <iframe
      src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      class="aspect-video w-full"
      title="Can A machine think? // animated explainer"
    ></iframe>
  </section>
</article>

<article class="grid h-[80dvh] w-full snap-start snap-always grid-cols-5 gap-10">
  <section class="col-span-1">
    <h1 class="font-narkiss text-big font-bold uppercase underline">Can a Machine Think?</h1>
    <h2 class="font-narkiss text-small">animated explainer // 2024</h2>
    <p class="mt-4 font-narkiss text-small">Can a Machine Think? A bit of a weird question because what does it mean to think?</p>
  </section>
  <section class="col-span-4">
    <iframe
      src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      class="aspect-video w-full"
      title="Can A machine think? // animated explainer"
    ></iframe>
  </section>
</article>

<script src="https://player.vimeo.com/api/player.js"></script>
