<div class="flex h-full snap-y flex-col overflow-auto bg-blue-600">
  <article class="grid h-5/6 w-full snap-start grid-cols-2">
    <section>
      <h1>Project1</h1>
      <h2>Subtitle</h2>
      <p>Content ofaksjdklajshdkjhnwklajhslkjdhakljhsdkljahskdljh</p>
    </section>
    <section>video goes here</section>
  </article>

  <article class="grid h-5/6 w-full snap-start grid-cols-2">
    <section>
      <h1>Project1</h1>
      <h2>Subtitle</h2>
      <p>Content ofaksjdklajshdkjhnwklajhslkjdhakljhsdkljahskdljh</p>
    </section>
    <section>video goes here</section>
  </article>
</div>
