<div class="flex max-w-screen-2xl flex-col">
  <article class="flex h-[80dvh] w-full flex-col gap-0 xl:grid xl:grid-cols-7 xl:gap-6">
    <section class="overflow-clip xl:col-span-2">
      <h1 class="font-narkiss text-medium font-bold uppercase underline xl:text-big">Can a Machine Think?</h1>
      <h2 class="font-narkiss text-very-small xl:text-small">animated explainer // 2024</h2>
      <p class="mt-4 font-narkiss text-very-small xl:text-small">
        Can a Machine Think? A bit of a weird question because what does it mean to think?
      </p>
    </section>
    <section class="xl:col-span-5">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </section>
  </article>

  <article class="flex h-[80dvh] w-full flex-col gap-0 xl:grid xl:grid-cols-7 xl:gap-6">
    <section class="overflow-clip xl:col-span-2">
      <h1 class="font-narkiss text-medium font-bold uppercase underline xl:text-big">Can a Machine Think?</h1>
      <h2 class="font-narkiss text-very-small xl:text-small">animated explainer // 2024</h2>
      <p class="mt-4 font-narkiss text-very-small xl:text-small">
        Can a Machine Think? A bit of a weird question because what does it mean to think?
      </p>
    </section>
    <section class="xl:col-span-5">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </section>
  </article>

  <article class="flex h-[80dvh] w-full flex-col gap-0 xl:grid xl:grid-cols-7 xl:gap-6">
    <section class="overflow-clip xl:col-span-2">
      <h1 class="font-narkiss text-medium font-bold uppercase underline xl:text-big">Can a Machine Think?</h1>
      <h2 class="font-narkiss text-very-small xl:text-small">animated explainer // 2024</h2>
      <p class="mt-4 font-narkiss text-very-small xl:text-small">
        Can a Machine Think? A bit of a weird question because what does it mean to think?
      </p>
    </section>
    <section class="xl:col-span-5">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="aspect-video w-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </section>
  </article>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
