<!doctype html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
  </head>
  <body class="flex h-full min-h-screen w-full flex-col">
    <div class="h-full w-10 bg-red-600"></div>
  </body>
</html>
