<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen overflow-hidden">
    <div
      id="content"
      class="max-h-screen mx-8 my-8 border-2 box-border border-black max-w-screen w-[calc(100%-4rem)] h-[calc(100%-4rem)] flex flex-row"
    >
      <div class="flex flex-col border-r-2 border-black basis-1/5">
        <div class="flex items-center justify-center p-4 border-0 border-black">
          <h1 class="m-auto font-serif text-9xl">{{ heading }}</h1>
        </div>
        <div flex></div>
      </div>
      <div class="flex p-2 space-x-2 overflow-y-scroll basis-4/5">
        <div class="space-y-2 basis-1/4">
          <img
            class="border-black"
            src="{{ url_for('static', filename='9squares-512.webp') }}"
            alt=""
          />
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/MASKIT.webp') }}"
            alt=""
          />
        </div>
        <div class="space-y-2 basis-1/4">
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/ALEFBEITGIMEL.webp') }}"
            alt=""
          />
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/pocahontas.webp') }}"
            alt=""
          />
        </div>
        <div class="space-y-2 basis-1/4">
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/GOLDEN MARGARITA B&W.webp') }}"
            alt=""
          />
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/LIFTA.webp') }}"
            alt=""
          />
        </div>
        <div class="space-y-2 basis-1/4">
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/GOODGOOD.webp') }}"
            alt=""
          />
          <img
            class="border-black"
            src="{{ url_for('static', filename='posters/PIGUMIM.webp') }}"
            alt=""
          />
        </div>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
