<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "narkiss-tam", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body
    class="h-screen overflow-hidden bg-cover bg-[url('/static/background/background.png')]"
  >
    <div
      id="content"
      class="max-h-screen mx-9 my-8 border-2 box-border border-black max-w-screen w-[calc(100%-4rem)] h-[calc(100%-4rem)] flex flex-row"
    >
      <!--main window-->
      <div id="sidebar" class="flex flex-col border-r-2 border-black basis-1/5">
        <div
          id="titlebar"
          class="flex flex-col items-center justify-center border-0 border-black"
        >
          <img
            class="mix-blend-multiply"
            src="{{ url_for('static', filename='logo.svg') }}"
            alt="Toosh"
          />
          <!--TODO: fix relative margin issue -->
          <img
            class="mx-2 mix-blend-multiply"
            src="{{ url_for('static', filename='logoline.svg') }}"
            alt="Toosh"
          />
        </div>
        <div id="information-box" class="pl-4 overflow-auto">
          <p
            class="text-[30px]/[2rem] blur-[0.06rem] contrast-200 text-pink-600"
          >
            Hey there!! I'm <b>Itamar</b>, a freelance
            <b>Graphic/Motion Designer</b> from TLV. <br />
            Currently in my 4th year of Vissual Communication studies at Bezalel
            Academy JLM. <br />
            <br />
            Mainly focusing on <b>Motion Design, Video making & Animation</b>,
            but enjoy making and co-making all sorts of art and design. <br />
            <br />
            If what you see turns you on... Hit me up &cudarrr;
          </p>
        </div>
      </div>
      <div id="content" class="flex p-2 space-x-2 overflow-y-scroll basis-4/5">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
