<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />

    <!--external fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
  </head>
  <body class="bg-[url('{{ url_for('static', filename='background/'+'background.png') }}')] bg-cover">
    <div class="h-dvh p-10">
      <div class="flex h-full flex-row border-2 border-black">
        <div id="sidebar" class="flex h-full basis-1/5 flex-col border-r-2 border-black">
          <div id="titlebar" class="flex flex-col items-center justify-center border-0 border-black">
            <img class="mix-blend-multiply" src="{{ url_for('static', filename='logo.svg') }}" alt="Toosh" />
            <img class="mx-2 mix-blend-multiply" src="{{ url_for('static', filename='logoline.svg') }}" alt="Toosh" />
          </div>
          <div id="information-box" class="overflow-auto pl-4">
            <p class="font-narkiss text-[30px]/[2rem] text-pink-600 blur-[0.06rem] contrast-200">
              Hey there!! I'm <b>Itamar</b>, a freelance <b>Graphic/Motion Designer</b> from TLV. <br />
              Currently in my 4th year of Vissual Communication studies at Bezalel Academy JLM. <br />
              <br />
              Mainly focusing on <b>Motion Design, Video making & Animation</b>, but enjoy making and co-making all
              sorts of art and design. <br />
              <br />
              If what you see turns you on... Hit me up &cudarrr;
            </p>
            <div class="justify-center-center mt-10 flex flex-row">
              <a href="#"
                ><img
                  class="size-12 contrast-0"
                  src="{{ url_for('static', filename='external-icons/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg') }}"
                  alt="hi"
              /></a>
              <a href="#"
                ><img
                  class="size-12 contrast-0"
                  src="{{ url_for('static', filename='external-icons/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg') }}"
                  alt="hi"
              /></a>
              <a href="#"
                ><img
                  class="size-12 contrast-0"
                  src="{{ url_for('static', filename='external-icons/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg') }}"
                  alt="hi"
              /></a>
              <a href="#"
                ><img
                  class="size-12 contrast-0"
                  src="{{ url_for('static', filename='external-icons/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg') }}"
                  alt="hi"
              /></a>
            </div>
          </div>
        </div>
        <div id="content" class="h-full basis-4/5">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </body>
</html>
