<!--main window-->
<div class="space-y-2 basis-1/4">
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/juice.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/MASKIT.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='pocahontas/PocahontasFullcover_en.webp') }}"
    alt=""
  />
</div>
<div class="space-y-2 basis-1/4">
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/pocahontas.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/good-morning.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/hibbuk1.png') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/ALEFBEITGIMEL.webp') }}"
    alt=""
  />
</div>
<div class="space-y-2 basis-1/4">
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/GOLDEN MARGARITA B&W.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/smoke.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/LIFTA.webp') }}"
    alt=""
  />
</div>
<div class="space-y-2 basis-1/4">
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/sunshine.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/GOODGOOD.webp') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/hibbuk2.jpg') }}"
    alt=""
  />
  <img
    class="border-black"
    src="{{ url_for('static', filename='posters/PIGUMIM.webp') }}"
    alt=""
  />
</div>
