<div id="self" class="grid h-full grid-cols-4 gap-4 overflow-auto py-4 pr-4">
  {% for col in columns %}
    <div class="flex flex-col space-y-4">
      {% for project_name, size in col %}
        <div class="bg-svg border-[2px] border-black" style="aspect-ratio: {{ size[0] }} / {{ size[1] }};">
          <img
            src="{{ url_for('static', filename='projects/' + project_name + '/preview.webp') }}"
            width="300"
            height="400"
            alt="{{ project_name }}"
            class="size-full opacity-0 transition-opacity duration-500"
            onload="this.classList.remove('opacity-0');"
          />
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
