<script src="https://player.vimeo.com/api/player.js"></script>
<div class="size-full snap-y overflow-auto pl-6 pr-6 pt-3">
  <div class="mb-20 flex h-5/6 w-full snap-start flex-col">
    <h2 class="font-narkiss text-7xl font-normal">CAN A MACHINE THINK?</h2>
    <p class="text-black-600 font-narkiss text-[1.5em]/[1.7rem] blur-[40%] contrast-200">
      Can a Machine Think? A bit of a weird question because what does it mean to think?
    </p>
    <div class="mt-10 flex-grow">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="size-full"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </div>
  </div>

  <div class="mb-20 flex h-5/6 w-full snap-start flex-col">
    <h2 class="font-narkiss text-7xl font-normal">JUSTICE // عدل</h2>
    <p class="text-black-600 font-narkiss text-[1.5em]/[1.7rem] blur-[40%] contrast-200"></p>
    <div class="mt-10 flex-grow">
      <iframe
        src="https://player.vimeo.com/video/1042619862?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        class="size-full"
        title="Justice // عدل"
      ></iframe>
    </div>
  </div>
</div>
