<div class="size-full pl-6 pr-6 pt-3">
  <div class="">
    <h2 class="font-narkiss text-7xl font-normal">CAN A MACHINE THINK?</h2>
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe
        src="https://player.vimeo.com/video/1025816691?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
        title="Can A machine think? // animated explainer"
      ></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>

  <div class="h-[85dvh]">
    <h2 class="mt-8 font-narkiss text-7xl font-normal">JUSTICE // عدل</h2>
    <div style="padding:56.3% 0 0 0;position:relative;">
      <iframe
        src="https://player.vimeo.com/video/1042619862?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position:absolute;top:0;left:0;width:100%;height:100%;"
        title="Justice // عدل"
      ></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>
