<div id="self" class="flex h-full flex-col">
  <a href="{{ url_for('index') }}" hx-get="{{ url_for('index_fragment') }}" hx-target="#self" hx-swap="outerHTML" hx-push-url="{{ url_for('index') }}">Back</a>
  <img class="w-36" width="144" height="144" src="{{ url_for('static', filename='projects/' + project + '/preview.webp') }}" alt="" />
  <div id="info-tab" class="flex basis-1/5 flex-col">
    <h1 id="title">{{ title }}</h1>
    <h2 id="subtitle">{{ subtitle }}</h2>
    {% for paragraphs in paragraphs %}<p>{{ paragraph }}</p>{% endfor %}
  </div>
</div>
