<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Toosh website" />
    <meta name="keywords" content="Toosh" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="{{ url_for('static', filename='dist/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
    <!--external fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <script>
      console.log("aaa");
      document.addEventListener("click", (event) => {
        console.log("clickened");
        const modal = document.getElementById("modal");
        const modalUnderlay = document.getElementById("modal-underlay");
        const modalClose = document.getElementById("modal-close");
        const modalContent = document.getElementById("modal-content");

        if (event.target !== modalUnderlay && event.target !== modalClose) return;

        console.log("ontarget");

        modal.classList.remove("animate-fade-in");
        modal.classList.add("animate-fade-out");
        modalContent.classList.remove("animate-zoom-in");
        modalContent.classList.add("animate-zoom-out");

        modal.addEventListener("animationend", modal.remove, { once: true });
      });
    </script>
  </head>
  <body>
    <button class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600" hx-get="/modal-fragment" hx-target="body" hx-swap="beforeend">
      Open a Modal
    </button>
  </body>
</html>
