<img id="testcase"
     width="150"
     height="150"
     class="transition-opacity duration-1000 htmx-swapping:opacity-0"
     src="{{ url }}"
     alt=""
     hx-get="/testcase-load"
     hx-swap="outerHTML swap:1s" />
