<div class="size-full p-32">
  <div id="testcase" class="flex size-full items-center justify-center">
    <div id="target" class="aspect-square h-full bg-green-400 transition-all duration-100 ease-in-out"></div>
  </div>
</div>
