<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="testpage" />
    <meta name="keywords" content="test" />
    <link rel="stylesheet" href="https://use.typekit.net/qps5fsd.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/tailwind.css') }}" />
  </head>
  <body class="h-screen flex-col bg-auto p-8">
    <div class="">
      <div class="peer z-0 opacity-0 transition-opacity ease-in-out hover:opacity-100">
        <h2 class="text-8xl">Other Title Maybe Description</h2>
      </div>
      <div class="relative -top-24 -z-10 opacity-100 transition-opacity ease-in-out peer-hover:opacity-0">
        <h2 class="text-8xl">Title</h2>
      </div>
    </div>
  </body>
</html>
