<div class="size-full p-4">
  <nav>
    <button
      hx-get="{{ url_for('test_transition_end_fragment') }}"
      hx-swap="innerHTML swap:0.2s"
      hx-target="#content"
      hx-push-url="{{ url_for('test_transition_end_fullpage') }}"
    >
      Hello
    </button>
  </nav>
</div>
