<img
  src="{{ url_for('static', filename='images/fullsize/jeff-bright.webp') }}"
  id="modal-image"
  class="mx-auto h-full w-auto max-w-none cursor-zoom-in opacity-100 loading:pointer-events-none loading:cursor-wait loading:opacity-0 zoomed:h-max zoomed:cursor-zoom-out"
/>
